body {
    font-family: Arial, sans-serif;
    background-color: #d3ecf3;
    margin: 0;
    padding: 0;
    height: 100px;
}

header {
    background-color: #008489;
   color: #fff;
    text-align: center;
    padding: .1em;
}

img {
    height: 200px;
    border-radius: 8px;
    margin-bottom: 15px;
}

a {
    text-align: center;
    text-decoration: none;
    
}

section {
    max-width: 600px;
    margin: 6px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

p {
    color: #666;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
